@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #ce2528;
    font-family: 'Questrial', sans-serif;
}

#header {
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 0 1em;
}

#body {
    background: #f9dfe0;
    max-width: 1280px;
    padding: 1em;
    margin: auto;
    text-align: center;
    color: white;
}

#video {
    width: 100%;
    height: fit-content;
    aspect-ratio: 16/9;
    border: none;
}

#footer {
    margin: 1em;
    text-align: center;
}

.button {
    background-color: #f9dfe0;
    color: #ce2528;
    padding: 1em 2em;
    margin: 0 1em;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
}

.button:hover {
    background-color: #ce2528;
    color: #ffffff;
}
